.container {
  height: 90%;
}

#container a {
  text-decoration: none;
}

ion-slides {
  height: 100%;
}

ion-card {
  height: 80%;
  width: 100%;
}

.nav-button-area {
  width: 100%;
  text-align: center;
}

ion-icon {
  color: white;
  font-size: 40px;
  width: 25%;
}

img {
  height: 50%;
  width: 50%;
}

.card-title {
  font-size: 28px;
}

.title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
}