.container {
  height: 90%;
}

#container a {
  text-decoration: none;
}

ion-slides {
  height: 100%;
}

ion-card {
  height: 80%;
  width : 100%;
}

.favourite-icon {
  float    : right;
  position : relative;
  font-size: 40px;
  color: grey;
  z-index: 2;
}

.no-click {
  pointer-events:none
}

.color-red {
  color: red;
}

.nav-button-area {
  margin-top: 20px;
}

.nav-button-area {
  width     : 100%;
  text-align: center;
}

ion-icon {
  color    : rgb(27, 132, 236);
  font-size: 70px;
}

img {
  height: 50%;
  width : 50%;
}

.card-title {
  font-size: 28px;
}

.title-wrapper {
  display        : flex;
  justify-content: center;
  align-items    : center;
  height         : 30%;
}

.left-icon {
  margin-right: 15px;
}

.right-icon {
  margin-left: 15px;
}

.nothing-center {
  display        : flex;
  justify-content: center;
  align-items    : center;
  height         : 100% !important;
  width          : 100%;
}

.nothing-color {
  color    : gray;
  font-size: 40px;
}

.item-center {
  text-align: center;
}